.section_contact {
  margin: 0 auto;
  width: 73rem;
  padding-bottom: 6rem;
}

.section_contact h2 {
  margin-bottom: 2rem;
}

.wrapper_contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
}

.contact_img img {
  width: 46.8rem;
  height: 23rem;
  object-fit: cover;
  overflow: hidden;
  object-position: center;
}

.wrapper_contact form {
  width: 24.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  position: relative;
}

.wrapper_contact form input,
.wrapper_contact form textarea {
  padding: 0.6rem 1rem;
  border: none;
  background-color: var(--contact-field-color);
  color: var(--secondary-color);
}

.wrapper_contact form input::placeholder {
  color: var(--secondary-color);
}

.wrapper_contact form textarea {
  font-family: "Roboto-Variable", "sans-serif";
  font-size: 0.8rem;
}

.wrapper_contact input:focus,
.wrapper_contact textarea:focus {
  outline-color: black;
}

/* ? ----- Responsive Design Tablet ----- */

@media only screen and (max-width: 1245px) {
  .section_contact {
    width: 80%;
  }

  .wrapper_contact {
    margin-bottom: 0 auto 2.5rem;
    gap: 1.5rem;
  }

  .contact_img,
  .contact_img img {
    width: 100%;
  }

  .wrapper_contact form {
    width: 100%;
  }
}
