.section_hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
  margin: 0 auto 6rem;
}

.div_hero_image {
  width: 48rem;
  height: 52rem;
}

.div_hero_image img {
  width: 48rem;
  height: 52rem;
  object-fit: cover;
  overflow: hidden;
}

.section_hero h1 {
  font-weight: 300;
  color: var(--secondary-color);
  line-height: 4rem;
}

.section_hero h1 span {
  font-weight: 600;
  color: var(--primary-color);
}

.div_img_link {
  position: relative;
}

.div_img_link .btn_light {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

/* ? ----- Responsive Styling ----- */

@media only screen and (max-width: 1240px) {
  .section_hero {
    width: 100%;
    gap: 4rem;
  }

  .div_hero_image,
  .div_hero_image img {
    width: 100%;
  }
}

@media only screen and (max-width: 975px) {
  .section_hero {
    gap: 2rem;
  }

  .div_hero_image,
  .div_hero_image img {
    width: 100%;
  }
  .div_img_link {
    position: relative;
    width: 60%;
  }
  .section_hero h1 {
    margin-left: 2rem;
  }
}

@media only screen and (max-width: 735px) {
}
