.section_loader {
  text-align: center;
  width: 100vw;
  margin: 0 auto;
  position: absolute;
}

.wrapper_loader {
  position: absolute;
  width: 50vw;
  transform: translate(50%, 50%);
}

.section_loader h1 {
  margin-top: 2rem;
}

.section_loader img {
  width: 16.3rem;
  animation: loader-spin infinite 2.5s linear;
}

@keyframes loader-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
