.section_gallery {
  width: 73rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 2rem;
  padding-bottom: 8rem;
}

.section_gallery img {
  width: 13rem;
  height: 16rem;
  object-fit: cover;
  overflow: hidden;
  object-position: center;
}

.section_gallery div {
  background-color: #c4c4c4;
}

/* ? ----- Responsive Design ----- */

@media only screen and (max-width: 1245px) {
  .section_gallery {
    width: 90%;
    gap: 1.5rem;
  }
  .section_gallery img {
    width: 100%;
    height: 14rem;
  }
}

@media only screen and (max-width: 975px) {
  .section_gallery {
    width: 90%;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }

  .section_gallery img {
    height: 12rem;
  }
}

@media only screen and (max-width: 736px) {
  .section_gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .section_gallery img {
    height: 14rem;
  }
}

@media only screen and (max-width: 550px) {
  .section_gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .section_gallery img {
    height: 18rem;
  }
}

@media only screen and (max-width: 460px) {
  .section_gallery {
    grid-template-columns: none;
  }

  .section_gallery img {
    height: 26rem;
  }
}
