/* ------- Light Button ------- */

.btn_light {
  width: 14rem;
  font-size: 0.75rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--primary-color);
}

.btn_light a {
  padding: 1.6rem 2rem;
  color: var(--primary-color);
}

.btn_svg_dark path {
  fill: var(--primary-color);
}

.btn_light:hover {
  transition: 0.4s;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
}

.btn_light a:hover .btn_svg_dark path {
  transition: 0.4s;
  fill: var(--tertiary-color);
}

/* ------- Dark Button ------- */

.btn_dark {
  width: 14rem;
  font-size: 0.75rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.btn_dark a {
  color: var(--tertiary-color);
  padding: 1.6rem 2rem;
}

.btn_svg_light path {
  fill: var(--tertiary-color);
}

.btn_dark:hover {
  transition: 0.4s;
  background-color: var(--contact-font-color);
}

/* ------- Darkmode/Lightmode Styling ------- */

.dark .btn_light a,
.dark .btn_svg_dark path {
  background-color: var(--darkmode-color);
  color: var(--tertiary-color);
  fill: var(--tertiary-color);
}

.dark .btn_dark a,
.dark .btn_svg_light path {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  fill: var(--primary-color);
}

.dark .btn_light a:hover,
.btn_light:hover .btn_svg_dark path {
  transition: 0.4s;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  fill: var(--primary-color);
}

.dark .btn_dark a:hover,
.btn_dark:hover .btn_svg_light path {
  transition: 0.4s;
  background-color: var(--contact-font-color);
  color: var(--tertiary-color);
  fill: var(--tertiary-color);
}

.dark .btn_light:hover .btn_svg_dark path {
  transition: 0.4s;
  fill: var(--primary-color);
}
