.section_projects {
  margin: 0 auto 6rem;
  width: 73rem;
}

.projects_examples img {
  height: 16rem;
}

.projects_examples {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.examples_row1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.examples_row1 img {
  width: 35.6rem;
  object-fit: cover;
  overflow: hidden;
}

.examples_row2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.examples_row2 img:first-of-type {
  width: 16.9rem;
}

.examples_row2 img:nth-of-type(2) {
  width: 29.4rem;
}

.examples_row2 img:last-of-type {
  width: 23rem;
}

.wrapper_project_btn {
  display: flex;
  justify-content: end;
}

.wrapper_example {
  position: relative;
  width: 50%;
}

.wrapper_example img {
  height: 16rem;
  display: block;
}

.projects_overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 100;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.link_overlay {
  color: var(--tertiary-color);
  position: absolute;
  font-size: 1.2rem;
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.wrapper_example:hover .projects_overlay {
  height: 35%;
}
