header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6.4rem;
  padding: 0 5rem;
}

header .architects_logo img {
  width: 2.5rem;
}

/* ? ----- Responsive Styling ----- */

@media only screen and (max-width: 975px) {
  header {
    padding: 0 2.5rem;
  }
}
