.section_about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 0 2rem 6rem 2rem;
}

.section_about h2 {
  margin-bottom: 1rem;
}

.wrapper_about_text {
  width: 25rem;
}

.wrapper_about_text p {
  margin-bottom: 2rem;
}

.wrapper_about_images {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  gap: 2rem;
}

.wrapper_images_column img:first-of-type {
  width: 17rem;
  height: 17rem;
  object-fit: cover;
  overflow: hidden;
}

.wrapper_images_column img:nth-of-type(2) {
  width: 17rem;
  object-fit: cover;
  overflow: hidden;
}

.wrapper_image_alone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17rem;
  height: 22rem;
  margin-top: 2rem;
  object-fit: cover;
  overflow: hidden;
}

.wrapper_image_alone img {
  height: 22rem;
}

.wrapper_images_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

/* ? ----- Responsive Design Tablet ----- */

@media only screen and (max-width: 1245px) {
  .section_about {
    width: 80%;
    gap: 2rem;
    margin: 0 auto 6rem;
  }

  .wrapper_about_text {
    width: 100%;
  }

  .wrapper_about_images {
    gap: 1.5rem;
  }

  .wrapper_images_column,
  .wrapper_image_alone {
    width: 80%;
  }

  .wrapper_images_column img:first-of-type,
  .wrapper_images_column img:nth-of-type(2) {
    width: 100%;
  }
}

/* @media only screen and (max-width: 975px) */
