:root {
  font-family: "Roboto-Variable", Helvetica, Arial, sans-serif;
  font-weight: 400;

  --primary-color: #333333;
  --secondary-color: #bdbdbd;
  --tertiary-color: #f2f2f2;
  --contact-font-color: #8d8d8d;
  --contact-field-color: #f3f3f3;
  --footer-color: #2c2c2c;
  --darkmode-color: #343434;
}

@font-face {
  font-family: "Roboto-Variable";
  src: url("../public/fonts/Roboto-Variable.ttf");
}

@font-face {
  font-family: "Roboto-Italic-Variable";
  src: url("../public/fonts/Roboto-Italic-Variable.ttf");
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 4rem;
  font-weight: 300;
  color: var(--secondary-color);
}

p {
  font-weight: 300;
  line-height: 1.5rem;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* ------- Darkmode/Lighmode Styling ------- */

.light {
  background-color: white;
  color: var(--secondary-color);
}

.dark,
.dark .wrapper_nav a,
.dark .btn_mode_svg,
.dark .div_btn_light,
.dark .div_btn_light a,
.dark .btn_svg_dark path,
.dark .section_hero h1 span,
.dark .section_intro h1 span {
  background-color: var(--darkmode-color);
  color: white;
  fill: white;
}

.dark .div_btn_dark,
.dark .div_btn_dark a,
.dark .btn_svg_light path {
  background-color: var(--tertiary-color);
  color: black;
  fill: black;
}
